body {
    background-image: url('../images/backgroundImage.jpg');
}

.registrationForm {}

.mainTitle {
    text-align: center;
    margin-bottom: 50px;
    color: #fff;
    font-size: 60px;
}

.formArea {
    /*background-color: rgba(255,255,255,.5);*/
    max-width: 500px;
    margin: auto;
    margin-top: 10%;
}

form.tab-form-demo .tab-pane {
    margin: 20px 20px;
}

form {
    padding: 50px;
}

.loginTabs {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    background-color: transparent;
    font-weight: bold;
    color: #fff;
    border-right: none;
    border-left: none;
    border-top-width: medium;
    border-bottom: none;
}

.nav-tabs>li>a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: none;
}

.nav-tabs>li>a {
    color: #fff;
    margin: 0;
}

.nav-tabs>li {
    width: 50%;
    text-align: center;
}

form .formBtn {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-color: #fff;
    font-weight: bold;
    width: 100%;
    margin-top: 20px;
}

form .formBtn:hover,
form .formBtn:focus,
form .formBtn:active {
    background-color: #000;
    border-color: #ccc;
    color: #fff;
}

.myAlert {
    margin-top: 20px;
    position: fixed;
    text-align: center;
    left:30%;
    right: 30%;
}