<div>
    <form class="registrationForm">
        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input required type="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="user.email">
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input required type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="user.password">
        </div>
        <button type="submit" class="btn formBtn" ng-click="$ctrl.login(user)">Login</button>
    </form>
</div>
