<div id="stickyNotesPane" class="panel">
    <div id="stickyNotesCollection" gridster>
        <ul>
            <li gridster-item="stickyNote" ng-repeat="stickyNote in stickyNotes">
                <a href=#>
                    <h2>Title</h2>
                    <p>Text Content</p>
                </a>
            </li>
<!--             <li gridster-item="item">
                <a href=#>
                    <h2>Title</h2>
                    <p>Text Content</p>
                </a>
            </li>
            <li gridster-item="item">
                <a href=#>
                    <h2>Title</h2>
                    <p>Text Content</p>
                </a>
            </li>
            <li gridster-item="item">
                <a href=#>
                    <h2>Title</h2>
                    <p>Text Content</p>
                </a>
            </li>
            <li gridster-item="item">
                <a href=#>
                    <h2>Title</h2>
                    <p>Text Content</p>
                </a>
            </li>
            <li gridster-item="item">
                <a href=#>
                    <h2>Title</h2>
                    <p>Text Content</p>
                </a>
            </li>
            <li gridster-item="item">
                <a href=#>
                    <h2>Title</h2>
                    <p>Text Content</p>
                </a>
            </li>
            <li gridster-item="item">
                <a href=#>
                    <h2>Title</h2>
                    <p>Text Content</p>
                </a>
            </li>
            <li gridster-item="item">
                <a href=#>
                    <h2>Title</h2>
                    <p>Text Content</p>
                </a>
            </li>
            <li gridster-item="item">
                <a href=#>
                    <h2>Title</h2>
                    <p>Text Content</p>
                </a>
            </li>
            <li gridster-item="item">
                <a href=#>
                    <h2>Title</h2>
                    <p>Text Content</p>
                </a>
            </li>
            <li gridster-item="item">
                <a href=#>
                    <h2>Title</h2>
                    <p>Text Content</p>
                </a>
            </li> -->
        </ul>
    </div>
</div>
